$primary-white-color: #fff;
$primary-black-color: #000;
$primary-dark-color: #333;
$secondary-dark-color: #999;

$primary-accent-color: #fce38a; 
$secondary-accent-color: #f38181;

$primary-green-color: #95e1d3;

$primary-font-color: 'Montserrat', 'Arial', sans-serif;
$secondary-font-color: 'Roboto', 'Arial', sans-serif;
$primary-decor-color: 'Kaushan Script', cursive; 










