.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 84px;
    border-top: 1px solid rgb(229, 229, 229);
}

.footer__link {
    text-decoration: none;
    color: $secondary-accent-color;
}

.footer__form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0px;
}

.footer__form-email {
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  
    width: 230px;
    height: 40px;
    font-size: 15px;
    line-height: 24px;
    font-family: $secondary-font-color;
    font-weight: 300;
    font-style: italic;
    color: $primary_black_color;
    border: 1px solid rgb(231, 231, 231);
    border-right: none;
    padding-left: 12px;
}

.footer__form-submit {
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 150px;
    min-height: 40px;
    font-size: 14px;
    line-height: 16px;
    font-family: $primary-font-color;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    color: $primary-white-color;
    background-color: $primary-green-color;
    cursor: pointer;
}